.addfood{

    margin-top:-16px;
    width:100vw;
    height:3rem;
    text-align: center;
    border-bottom: 1px dashed gray;
    line-height: 3rem;
    font-size: 1.5rem;
}
.addfont{
    font-size: 1.5rem;
}
.fooditem-wrap{
    position: relative;
    padding:0 1rem;
    width:100vw;
    border-bottom: 1px dashed gray;
    height:14rem;
    overflow: hidden;
}
.fooditem-wrap h3{
    margin-top:1rem;
}
.foodimg{
    width:8rem;
    height:8rem;
    float: left;    
    position: relative;
    top:2rem;
}
.foodinfo-wrap{
    padding: 0.4rem 0.4rem;
    display: flex;
    flex-direction: column;
    border:1px dashed gray;
    border-radius: 1rem;
    position: relative;
    left:8rem;
    width:14rem;
    top:-10rem;
}
.foodchoose-wrap{
    position: absolute;
    bottom:0.6rem;
    right:0.6rem;
}
.changeinfo{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}