.background{
    width:100vw;
    height:100vh;
    background:url(../imgs/iu.jpg) repeat fixed;
    position: relative;
    opacity: 0.2;
}
.login{
    width:80%;
    height:200px; 
    border:1px solid red;
    position: absolute;
    border-radius: 20px;
    top:50%;
    left:50%;
    background: lightpink;
    transform: translateX(-50%) translateY(-50%);
}
.title{
    margin-top:1rem;
}
h1{
    width:200px;
    margin:16px auto;
}
.flex{
    padding:0 2rem;
    margin-top:1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.button{
    position:relative;
}
button{
    display: block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
