body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'iconfont';  /* project id 2479521 */
  src: url('//at.alicdn.com/t/font_2479521_w83huq9eul.eot');
  src: url('//at.alicdn.com/t/font_2479521_w83huq9eul.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2479521_w83huq9eul.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2479521_w83huq9eul.woff') format('woff'),
  url('//at.alicdn.com/t/font_2479521_w83huq9eul.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2479521_w83huq9eul.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
